.speaker-image {
    display: inline;
    img {
        width: 20px;
        display: inline;
    }
}

.notes-modal {
    --max-height: 90%;
    --border-radius: 12px;
}

.notes-content {
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery-img {
    height: 15vh;
}